<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        © 2024 Ben Sinvani: <a href="/" class="text-light">All rights reserved</a>
    </div>
</footer>
